# SPDX-License-Identifier: MIT

if SHIELD_MEDIA_DIAL

config ZMK_KEYBOARD_NAME
    default "Media Dial"

config EC11
    default y

if EC11

# EC11_TRIGGER_GLOBAL_THREAD la mot lua chon trong choice EC11_TRIGGER_MODE,
# nen phai dat default o cap choice chu khong dat truc tiep tren symbol.
choice EC11_TRIGGER_MODE
    default EC11_TRIGGER_GLOBAL_THREAD
endchoice

endif # EC11

endif # SHIELD_MEDIA_DIAL
