/*
 * SPDX-License-Identifier: MIT
 *
 * Ban toi gian de go loi: chi con key press thuan, khong tap-dance,
 * khong hold-tap, khong lenh bluetooth nao co the tu chay.
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <&kp C_MUTE>;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
